div#hero.hero-unit
    h1 #{title}
    p #{description}

div#start.row
  div.span12
    form(name='form-entercn', method='POST', action='javascript:void(0);').form-horizontal
      div.control-group#cg-cn
        label(for='cn').control-label
          | Enter 
          strong Common Name: 
        div.controls
          div.input-append
            input(name='cn', type='text', placeholder="Enter Certificate's Common Name here")#cnStart.span8
            button(onclick='switchToFillInfo()').btn.btn-primary Get Certificate!

- var attributeNames = ["days", "county", "state", "city", "org", "orgUnit", "cn", "email", "pfx_pwd"]
- var attributeValues = ["365", "US", "Some-State", "", "Internet Widgits Pty Ltd", "", "", "", "password"]
- var attributeLabels = [];
- attributeLabels[0] = "Validity period (in days)";
- attributeLabels[1] = "Country Name (2 letter code)";
- attributeLabels[2] = "State or Province Name";
- attributeLabels[3] = "Locality Name (eg, city)";
- attributeLabels[4] = "Organization Name (eg, company)";
- attributeLabels[5] = "Organizational Unit Name (eg, section)";
- attributeLabels[6] = "Common Name (eg, YOUR name)";
- attributeLabels[7] = "Email Address";
- attributeLabels[8] = "PFX file password";

div#fillinfo.container.hide
  div.page-header
      h1 Please fill certificate information
          small  (optional)
  div.row
    div.span12
      form(id='form-fillinfo', method='POST', action='javascript:void(0);').form-horizontal


        each name, i in attributeNames
          label #{attributeLabels[i]}
          input(id=name, type='text', value='#{attributeValues[i]}').input-xxlarge
        span.help-block
        button(id='button-submit', onclick='switchToDownload()', data-loading-text="Generating...").btn.btn-primary.offset5 Submit

div#download.container.hide
  div.page-header
      h1 Download your certificates below
  div.row
    div.span12
      table.table
        tr
          td 
            strong Self Signed Certificate
          td 
            form(id='form-getzip', action='')
              button(type='submit').btn.btn-info Download KEY + PEM Zip
          td 
            form(id='form-getpfx', action='')
              button(type='submit').btn.btn-info Download PFX

script
  function genId() {
    var result='';
    for(var i=0; i<32; i++) {
      result += Math.floor(Math.random()*16).toString(16).toUpperCase();
    }
    return result;
  }
  function switchToFillInfo()  {
    var common_name = document.getElementById('cnStart').value;
    document.getElementById('cn').value = common_name;

    if (!common_name || common_name === "") {
      $('#cg-cn').addClass('error');
      $('#cnStart').attr('placeholder', "Enter Certificate's Common Name here (Must Not Be Empty)");
      //$("#cg-cn").hide().fadeIn('fast');

      return;
    }

    
    $('#start').hide();
    $('#hero').hide();
    $('#fillinfo').show();
  }
  function switchToDownload()  {
    //$('#start').hide();
    //$('#hero').hide();
    
    var certData = {};
    $("#form-fillinfo input[type=text]").each(function() {
      console.log($(this).attr('id') + ' - ' + $(this).val());
      certData[$(this).attr('id')] = $(this).val();
    });

    var certId = genId();

    console.log(certId);
    console.log(JSON.stringify(certData));

    $('#button-submit').button('loading');

    $.ajax({
      type: 'POST',
      url: "/create",
      data: JSON.stringify(certData),
      contentType: 'application/json',
      success: function(data) {
        var result = data;;
        
        //console.log('data:' + data);
        //try {
        //  result = JSON.parse(data);
        //} catch(err) {
        //  console.error('Can not parse data: ' + err);
        //  return;
        //}

        if (!result.id || result.id === "")
        {
          console.error('Did not got cert Id. Can not continue');
          return;
        }
        
        console.log('success! Id:' + result.id);

        $('#form-getzip').attr('action', '/getcert/id/' + result.id + '/type/zip');
        $('#form-getpfx').attr('action', '/getcert/id/' + result.id + '/type/pfx');

        completeSwitchToDownload();
      },
    });
    
  }
  function completeSwitchToDownload() {
    $('#fillinfo').hide();
    $('#download').show();

  }
