div#hero.hero-unit
  h1 #{title}
  p #{description}
div#warning-note.alert.alert-block.hide
  p.centered Please do not use TEST certificates in production environment 

div.container.mainForm
  div#start.row
    div.span12
      form(name='form-entercn', method='POST', action='javascript:void(0);').form-horizontal
        div.control-group#cg-cn
          label(for='cn').control-label
            strong Enter Common Name:
          div.controls
            div.input-append
              input(name='cn', type='text', placeholder="Enter Certificate's Common Name here")#cnStart.span8
              button(onclick='switchToFillInfo()').btn.btn-primary Get Certificate!

- var attributeNames = ["days", "country", "state", "city", "org", "orgUnit", "cn", "email", "pfxPass"]
- var attributeValues = ["365", "US", "Some-State", "", "Internet Widgits Pty Ltd", "", "", "", "password"]
- var attributeLabels = [];
- attributeLabels[0] = "Validity period (in days)";
- attributeLabels[1] = "Country Name (2 letter code)";
- attributeLabels[2] = "State or Province Name";
- attributeLabels[3] = "Locality Name (eg, city)";
- attributeLabels[4] = "Organization Name (eg, company)";
- attributeLabels[5] = "Organizational Unit Name (eg, section)";
- attributeLabels[6] = "Common Name (eg, YOUR name)";
- attributeLabels[7] = "Email Address";
- attributeLabels[8] = "PFX file password";

div#fillinfo.container.hide
  div.page-header
      h1 Please fill certificate information
          small  (optional)
  div.row
    div.span12
      form(id='form-fillinfo', method='POST', action='javascript:void(0);').form-horizontal
        fieldset
          each name, i in attributeNames
            div.control-group
              label(for=name).control-label #{attributeLabels[i]}
              div.controls
                input(id=name, name=name, type='text', value='#{attributeValues[i]}').input-xlarge
          div.form-actions
            button(id='button-submit', onclick='switchToDownload()', data-loading-text="Generating...").btn.btn-primary.pull-right.span2 Submit

div#download.container.hide
  div.page-header
      h1.centered Download your certificates below
  div.row
    div.span12
      form(id='form-getzip', action='')
        div.control-group
          label(for='getzip').control-label.span8 ZIP archive containing the unencrypted private key and public certificate
          div.controls
            button(name='getzip', type='submit').btn.btn-info.span3 Download KEY + PEM
  div.row
    div.span12
      form(id='form-getpfx', action='')
        div.control-group
          label(for='getpfx', name='pfxlabel')#pfxlabel.control-label.span8 PFX file containing the certificate with the private key (password:TOKEN)
          button(name='getpfx', type='submit').btn.btn-info.span3 Download PFX
  div#feedback.row
    div.container.feedback
      div.span12
        form(name='form-feedback', method='POST', action='javascript:void(0);')
          div.control-group#cg-feedback
            label(for='feedback')#label-feedback.control-label
              strong Your feedback is my oxigen:
            div.controls
              div.input-append
                input(name='feedback', type='text', placeholder="What's the next feature you'd like to see?")#i-feedback.span8
                button(id='button-feedback', onclick='submit_feedback()', data-loading-text="Submitting...").btn.feedbackButton Submit
script
  function submit_feedback() {
    var feedback = document.getElementById('i-feedback').value;
    console.log('Feedback: ' + feedback);

    if (!feedback || feedback === "") {
      return;
    }

    $('#button-feedback').button('loading');

    $.ajax({
      type: 'POST',
      url: "/feedback",
      data: JSON.stringify({feedback:feedback}),
      contentType: 'application/json',
      success: function(data) {
        $('#button-feedback').button('reset');
        $('#label-feedback').html('<b>Thank you!!</b>');
      }
    });
  }
  function genId() {
    var result='';
    for(var i=0; i<32; i++) {
      result += Math.floor(Math.random()*16).toString(16).toUpperCase();
    }
    return result;
  }
  function switchToFillInfo()  {
    var common_name = document.getElementById('cnStart').value;
    document.getElementById('cn').value = common_name;

    if (!common_name || common_name === "") {
      $('#cg-cn').addClass('error');
      $('#cnStart').attr('placeholder', "Enter Certificate's Common Name here (Must Not Be Empty)");
      return;
    }

    
    $('#start').hide();
    $('#hero').hide();
    $('#warning-note').hide();
    $('#fillinfo').show();

    $('#form-fillinfo').validate({
        rules: {
          days: {
            minlength: 1,
            required: true,
            digits: true
          },
          country: {
            minlength: 2,
            maxlength: 2,
            required: true
          },
          state: {
            minlength: 1,
            required: true
          },
          city: {
            required: false
          },
          org: {
            minlength: 1,
            required: true
          },
          orgUnit: {
            required: false
          },
          cn: {
            minlength: 1,
            required: true
          },
          email: {
            email: true,
            required: false
          },
          pfxPass: {
            minlength: 5,
            required: true
          },
        },
        highlight: function(label) {
          //console.log(label);
          $(label).closest('.control-group').addClass('error');
        },
        success: function(label) {
          //console.log(label);
          //$(label).closest.closest('.control-group').addClass('success');
          $(label).closest('.control-group').removeClass('error');
        }
    });
    console.log('done');
  }
  function switchToDownload()  {
    //$('#start').hide();
    //$('#hero').hide();

    console.log("validity: " + $('#form-fillinfo').valid());
    if (!$('#form-fillinfo').valid()) {
      console.log('info form is not valid. returning...');
      return;
    }


    var certData = {};
    $("#form-fillinfo input[type=text]").each(function() {
      console.log($(this).attr('id') + ' - ' + $(this).val());
      certData[$(this).attr('id')] = $(this).val();
    });

    var certId = genId();

    console.log(certId);
    console.log(JSON.stringify(certData));

    $('#button-submit').button('loading');

    $.ajax({
      type: 'POST',
      url: "/create",
      data: JSON.stringify(certData),
      contentType: 'application/json',
      success: function(data) {
        var result = data;;
        
        //console.log('data:' + data);
        //try {
        //  result = JSON.parse(data);
        //} catch(err) {
        //  console.error('Can not parse data: ' + err);
        //  return;
        //}

        if (!result.id || result.id === "")
        {
          console.error('Did not got cert Id. Can not continue');
          return;
        }
        
        console.log('success! Id:' + result.id);

        $('#form-getzip').attr('action', '/getcert/id/' + result.id + '/type/zip');
        $('#form-getpfx').attr('action', '/getcert/id/' + result.id + '/type/pfx');
        var labelText = $('#pfxlabel').text();
        var pass = certData.pfxPass;

        var newLabel = labelText.replace('TOKEN', pass);
        $('#pfxlabel').text(newLabel);
        console.log('Text: ' + $('#pfxlabel').text());
        console.log('Pass: ' + pass);

        //$('#pfxlabel').attr('text',

        completeSwitchToDownload();
      },
    });
    
  }
  function completeSwitchToDownload() {
    $('#fillinfo').hide();
    $('#download').show();
    $('#warning-note').show();
  }




