div#hero.hero-unit
    h1 #{title}
    p #{description}

div#start.row
  div.span12
    form(name='form-entercn', method='POST', action='javascript:void(0);').form-horizontal
      div.control-group
        label(for='cn').control-label
          | Enter 
          strong Common Name: 
        div.controls
          div.input-append
            input(name='cn', type='text', placeholder="Enter Certificate's Common Name here")#cnStart.span8
            button(onclick='switchToFillInfo()').btn.btn-primary Get Certificate!



- var attributeNames = ["days", "county", "state", "city", "org", "orgUnit", "cnInfo", "email"]
- var attributeValues = ["365", "US", "Some-State", "", "Internet Widgits Pty Ltd", "", "", ""]

div#fillinfo.container.hide
  div.page-header
      h1 Please fill certificate information
          small  (optional)
  div.row
    div.span12
      form(id='form-fillinfo', method='POST', action='javascript:void(0);').form-horizontal
        //legend Please fill additional certificate information \(optional\)
        - var names = ["days", "country", "state", "city", "org", "org_unit", "cnInfo", "email"];
        - var labels = [];
        - labels[0] = "Validity period (in days)";
        - labels[1] = "Country Name (2 letter code)";
        - labels[2] = "State or Province Name";
        - labels[3] = "Locality Name (eg, city)";
        - labels[4] = "Organization Name (eg, company)";
        - labels[5] = "Organizational Unit Name (eg, section)";
        - labels[6] = "Common Name (eg, YOUR name)";
        - labels[7] = "Email Address";

        - var values = [];
        - values[0] = "365";
        - values[1] = "US";
        - values[2] = "Some-State";
        - values[3] = "";
        - values[4] = "Internet Widgits Pty Ltd";
        - values[5] = "";
        - values[6] = "";
        - values[7] = "";

        each name, i in names
          label #{labels[i]}
          input(id=name, type='text', value='#{values[i]}').input-xxlarge
        span.help-block
        button(onclick='switchToDownload()').btn.btn-primary.offset5 Submit

div#download.container.hide
  div.page-header
      h1 Download your certificates below
  div.row
    div.span12
      table.table
        tr
          td 
            strong Self Signed Certificate
          td 
            button(type='submit').btn.btn-info Download KEY + PEM Zip
          td 
            button(type='submit').btn.btn-info Download PFX

script
  /*
  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      return o;
  };
  */  
  function genId() {
    var result='';
    for(var i=0; i<32; i++) {
      result += Math.floor(Math.random()*16).toString(16).toUpperCase();
    }
    return result;
  }
  function switchToFillInfo()  {
    var common_name = document.getElementById('cnStart').value;
    document.getElementById('cnInfo').value = common_name;
    
    $('#start').hide();
    $('#hero').hide();
    $('#fillinfo').show();
  }
  function switchToDownload()  {
    //$('#start').hide();
    //$('#hero').hide();
    
    var certData = {};
    $("#form-fillinfo input[type=text]").each(function() {
      console.log($(this).attr('id') + ' - ' + $(this).val());
      certData[$(this).attr('id')] = $(this).val();
    });

    var certId = genId();

    console.log(certId);
    console.log(JSON.stringify(certData));

    $.ajax({
      type: 'POST',
      url: "http://192.168.0.107:3000/create/id/" + certId + "/type/aaa",
      data: $('#form-fillinfo').serialize(),
      success: function() {
        console.log('success!');
      },
    });
    
    $('#fillinfo').hide();
    $('#download').show();
  }
